
.view_trans_main_div {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 30px 200px;
    grid-gap: 2px;
    font-family: Arial;
    font-size: 12px;
    margin-right:10px;
}
.view_trans_save_btn {
    grid-column: 1;
    grid-row: 1;
}

.view_trans_table_div {
    grid-column: 1/11;
    grid-row: 2;
    width: 100%;
}

.view_trans_table {
    width: 100%;
}

.view_trans_table th, td {
        padding: 10px;
    }
.view_trans_check_column {
    width: 10%;
}
.view_trans_journal_id_column {
    width: 15%;
}
.view_trans_transaction_id_column {
    width: 15%;
}
.view_trans_date_column {
    width: 15%;
}
.view_trans_description_column {
    width: 25%;
}
.view_trans_debit_column {
    width: 10%;
}
.view_trans_credit_column {
    width: 10%;
}

.view_trans_ajax-loader {
    grid-row: 1/3;
    grid-column: 1/11;
    visibility: hidden;
}

    .view_trans_ajax-loader img {
        position: relative;
        top: 45%;
        left: 45%;
    }

