
.trip_main_div {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40px auto;
    grid-gap: 2px;
    font-family: Arial;
    font-size: 12px;
    margin-left: 20px;
    margin-right: 35px;
}
.trip_first_row_div {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 7% 5% 18% 5% 10% 5% 10% 10% 10% 10% 10%;
    grid-template-rows: 100%;
    grid-gap: 2px;
    margin-top: 5px;
}
.trip_title_lbl {
    grid-column: 1;
    grid-row: 1;
    font-family: Arial Black;
    font-size: 20px;
    text-align: left;
     margin-left: 5px;
}
.trip_party_lbl {
    grid-column: 2;
    grid-row: 1;
    text-align: left;
    margin-top: 10px;
}

.trip_party_select {
    grid-column: 3;
    grid-row: 1;
    margin-top: 5px;
}

.trip_from_lbl {
    grid-column: 4;
    grid-row: 1;
    text-align: center;
    margin-top: 10px;
}
.trip_from_dp {
    grid-column: 5;
    grid-row: 1;
    margin-top: 5px;
}
.trip_to_lbl {
    grid-column: 6;
    grid-row: 1;
    text-align: center;
    margin-top: 10px;
}
.trip_to_dp {
    grid-column: 7;
    grid-row: 1;
    margin-top: 5px;
}

.trip_filter_btn {
    grid-column: 8;
    grid-row: 1;
    margin-top: 5px;
}
.trip_find_btn {
    grid-column: 9;
    grid-row: 1;
    margin-top: 5px;
}
.trip_print_btn {
    grid-column: 10;
    grid-row: 1;
    margin-top: 5px;
}
.trip_new_btn {
    grid-column: 11;
    grid-row: 1;
    margin-top: 5px;
}

.trip_table_div {
    grid-column: 1/12;
    grid-row: 2;
    width: 100%;
}
.trip_table {
    width: 100%;
}
.trip_table th, td {
        padding: 10px;
    }
.trip_id_column {
    width: 7%;
}
.trip_date_column {
    width: 7%;
}
.trip_lorry_column {
    width: 7%;
}
.trip_token_no_column {
    width: 7%;
}
.trip_qty_column {
    width: 7%;
}
.trip_freight_column {
    width: 7%;
}
.trip_commission_column {
    width: 7%;
}
.trip_tax_column {
    width: 7%;
}
.trip_short_qty_column {
    width: 9%;
}
.trip_short_amount_column {
    width: 9%;
}
.trip_advance_column {
    width: 7%;
}
.trip_munshiana_column {
    width: 7%;
}
.trip_actions_column {
    width: 10%;
}
.trip_ajax-loader {
    grid-row: 1/3;
    grid-column: 1/12;
    visibility: hidden;
}
    .trip_ajax-loader img {
        position: relative;
        top: 45%;
        left: 45%;
    }



