

.SalesTax_main_div {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 35px auto;
    gap: 2px;
    font-family: Arial;
    font-size: 12px;
    margin-left: 20px;
    margin-right: 35px;
}

#summary_title_lbl {
    grid-column: 1;
    grid-row: 1;
    font-family: Arial Black;
    font-size: 20px;
    text-align: left;
    font-weight:bold;
    margin-top: 5px;
}
#summary_year_lbl {
    grid-column: 2;
    grid-row: 1;
    text-align: right;
    margin-top: 5px;
    margin-right: 5px;
}
.summary_year_combo_box {
    grid-column: 3;
    grid-row: 1;
    border-radius: 5px;
}
#summary_BillDate_lbl {
    grid-column: 4;
    grid-row: 1;
    text-align: right;
    margin-top: 5px;
    margin-right: 5px;
}

.summary_BillDate_combo_box {
    grid-column: 5;
    grid-row: 1;
    border-radius: 5px;
}

.summary_view_by_type_btn {
    grid-column: 6;
    grid-row: 1;
    margin-top: 0px;
}

.summary_Print_btn {
    grid-column: 10;
    grid-row: 1;
    margin-top: 0px;
}
.summary_table_div {
    grid-column: 1/11;
    grid-row: 2;
    width: 100%;
}

.summary_table {
    width: 100%;
}

.summary_table th, td {
    padding: 10px;
}
.summary_Sr {
    width: 5%;
}

.summary_billDate {
    width: 10%;
}
.summary_BillNo {
    width: 10%;
}

.summary_BillAmount {
    width: 10%;
}
.summary_extra {
    width: 55%;
}
.summary_View_ajax_loader {
    grid-row: 1/3;
    grid-column: 1/9;
    visibility: hidden;
}

.summary_View_ajax_loader img {
    position: relative;
    top: 40%;
    left: 50%;
}



