
@{
    ViewBag.Title = "Information Dialog";
}

<link rel="stylesheet" href="~/css/information_dialog.css" />

<form id="info_form" class="info_form" style="display:none;">
    <div class="info_main_div">
        <div class="info_image_div">
            <img id="info_image" height="40" width="40" class="img-responsive" />
        </div>
        <label class="info_message_lbl" id="info_message_lbl"></label>
        <hr class="info_hr" />
        <div class="info_btn_div">
            <button class="info_btn ui-button ui-widget ui-corner-all" id="info_btn" type="button" tabindex="36">OK</button>
        </div>
    </div>
</form>
