
@{
    ViewBag.Title = "Shipping";
}

<link rel="stylesheet" href="~/css/Setup/shipping.css" asp-append-version="true" />

<form method="post">
    <div class="shipping_main_div">
        <label class="shipping_title_lbl">Shipping</label>
        <label class="shipping_company_lbl">Company : </label>
        <select class="shipping_company_select" id="shipping_company_select"></select>
        <button class="shipping_new_btn ui-button ui-widget ui-widget-content ui-corner-all" type="button">New <i class="fa fa-plus-circle"></i></button>
        <div class="shipping_table_div">
            <table class="shipping_table cell-border display" id="shipping_table">
                <col class="shipping_id_column">
                <col class="shipping_title_column">
                <col class="shipping_title_urdu_column">
                <col class="shipping_code_column">
                <col class="shipping_company_column">
                <col class="shipping_actions_column">
                <thead>
                    <tr>
                        <th style="text-align: center;padding:9px;">Id</th>
                        <th style="text-align: center;padding:9px;">Title</th>
                        <th style="text-align: center;padding:9px;">Title Urdu</th>
                        <th style="text-align: center;padding:9px;">Code</th>
                        <th style="text-align: center;padding:9px;">Company</th>
                        <th style="text-align: center;padding:9px;"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="shipping_ajax-loader">
            <img src="~/Images/ajax-loading.gif" height="80" width="80" class="img-responsive" />
        </div>
    </div>
</form>

<partial name="~/Views/Setup/NewShipping.cshtml" />

@section Scripts{
    <script src="~/js/Setup/shipping.js" asp-append-version="true"></script>
    <script src="~/js/Setup/new_shipping.js" asp-append-version="true"></script>
}