html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;

}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.reset {
    all: revert;
}

table, th, td {
    font-weight:bold;
    font-size:small;
}
label {
    font-weight: bold;
}
input {
    font-size: small;
    font-weight: bold;
}

.fieldset {
    border: 1px solid lightgray;
}

.dataTables_filter input {
    background-color: white !important;
}

.dataTables_length select {
    background-color: white !important;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}