
.user_main_div {
    display: grid;
    grid-template-columns: 30% 10% 10% 5% 5% 10% 10% 10% 10%;
    grid-template-rows: 35px auto;
    gap: 2px;
    font-family: Arial;
    font-size: 12px;
    margin-left: 20px;
    margin-right: 35px;
}

.user_title_lbl {
    grid-column: 1;
    grid-row: 1;
    font-family: Arial Black;
    font-size: 25px;
    text-align: left;
    margin-left: 5px;
}

.user_new_btn {
    grid-column: 9;
    grid-row: 1;
}

.user_table_div {
    grid-column: 1/10;
    grid-row: 2;
    width: 100%;
}

#user_table {
    
    width: 100%;
}

    #user_table th, td {
        padding: 10px;
    }


.user_id_column {
    width: 25%;
}

.user_name_column {
    width: 15%;
}

.user_email_column {
    width: 15%;
}
.user_activate_status_column {
    width: 10%;
}

.user_activation_action_column {
    width: 14%;
}
.user_update_column {
    width: 21%;
}
